name: node
on: push
env: CI: true
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: 'npm'
      - run: npm ci
      - run: npm test
      - run: make install
      - run: make lint
      - run: make test
      - uses: hexlet-components/hello-from-hexlet-action@release
